html, body {
	margin: 0;
	font-family: 'Roboto', 'Arial';
	font-weight: 300;
	font-size: 2em;
	color: white;
}

canvas {
	text-align: center;
	margin: auto;
}

#phaser-wrapper {
	text-align: center;
}

#authText {
	display: block;
	top: 50%;
 	transform: translateY(25%);
}

#authButton {
	vertical-align: center;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	border: 0px;
	padding: 0px;
	width: 320px;
	height: 69px;
	background-image:url(http://i.imgur.com/7M5Jo5K.png);
	top: 50%;
 	transform: translateY(50%);
}

#overlay {
	height: 25vh;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 75vh;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	vertical-align: text-bottom;
	background-color: rgba(0,0,0,0.4);
}

#teamBanner {
	height: 25vh;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 75vh;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	vertical-align: text-bottom;
	background-color: rgba(0,0,0,0.4);
}